/*style for bootstrap components*/
#first-navbar {
	background-image: url('img/banner.jpg');
}

.logo{
	width:300px;
}

.sign-div{
	margin-left:auto;
	margin-top: auto;
}


#first-navbar .nav-link{
	color:rgb(243, 122, 9);
	/*color:red;*/
	font-family: Georgia, serif;
}

#first-navbar .nav-link:hover{ 
  color: #ffdf77;
}


#second-navbar .nav-link{
	color:rgb(243, 122, 9);
	text-align: center;
  	margin-left: 30px;
  	padding:10px; 
  	font-size: 17px;
	font-family: Georgia, serif;

}


#second-navbar .nav-link:hover{
	background-color: #ffdf77;
	color: #ffffff;
}

#second-navbar .nav-link.active{
	background-color: #ffdf77;
	color: #ffffff;
}

#search-btn{
	background-color: rgb(243, 122, 9);
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.response{
	text-align: center;
}
.success{
	color:green;
}

.error{
	color:red;
}



.footer-2{
	background-color: rgb(243, 122, 9);
	text-align: center;
	color:black;
}

.breadcrumb{
	background-color: rgb(243, 122, 9);
}

.breadcrumb-item a{
	color:black;
}

.yellow-button{
	color:black;
	background-color: #ffdf77;
}

