{% include "header.html" %}

<script src="../static/js/jquery.3.4.1.min.js"></script>

<div class="container">
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/addproduct">Add Product</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </nav>
        <h3 class="text-muted"> Add a new product</h3>
    </div>

    <section>

      <form class="form-horizontal" method="post" action="/addproduct" enctype="multipart/form-data">
        <fieldset>
          <legend>Add Your New Product Here</legend>
          <div class="form-group">
              <label class="col-md-4 control-label" for="txtTitle">Category</label>
              <div class="col-md-4">
                <select class="select-xs" name="cate">
                  <option value ="1" selected = "selected">Bread</option>
                  <option value ="2">Cookie</option>
                  <option value="3">Rice Pastry</option>
                  <option value="4">Snack</option>
                </select>
              </div>
          </div>
          <div class="form-group">
              <label class="col-md-4 control-label" for="txtTitle">Name</label>
              <div class="col-md-4">
                <input type="text" name="inputname" id="txtName" required="required" placeholder="input Name">
              </div>
          </div>

          <div class="form-group">
              <label class="col-md-4 control-label" for="txtDesc">Description</label>
               <div class="col-md-4">
                <input type="text" name="inputDescription"  required="required" id="txtDesc" placeholder="input Description">
              </div>
          </div>

          <div class="form-group">
              <label class="col-md-4 control-label" for="txtInven">Inventory</label>
               <div class="col-md-4">
                <input type="number" name="inputInventory"  required="required" id="txtInven" placeholder="input Inventory">
              </div>
          </div>

          <div class="form-group">
              <label class="col-md-4 control-label" for="txtPrice">Price</label>
               <div class="col-md-4">
                <input type="text" name="inputPrice" required="required"  id="txtPrice" placeholder="input Price" >
              </div>
          </div>

          <div class="form-group">
              <label class="col-md-4 control-label" for="imgPict">Picture</label>
               <div class="col-md-4">
                <input type="file" name="inputPicture" required="required"  id="imgPict">
              </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
              <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Submit" />
            </div>
          </div>

        </fieldset>

    </form>
    </section>
</div>


{% include "footer.html" %}
