<footer>
    <div class="footer-2">
        <p class="copyright">Copyright @ 2021 Creative Commons StarUps</p>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">About</a></li>
            <li class="breadcrumb-item"><a href="#">Contact</a></li>
            <li class="breadcrumb-item"><a href="#">Browse</a></li>
          </ol>
        </nav>
    </div>
</footer>

</body>
</html>