
{% include "header.html" %}



<div class="container-fluid">
    {% for product in result %}
    <div>  
        <h4>{{ product[1] }}</h4> 
    </div>
    <div class="row">       
            <div class="col-sm-6">
                <a href="/productinfo?id={{ product[0] }}">
                    <img class="figure-img img-fluid rounded"  src="{{ product[5] }}">
                </a>
                        
            </div>
            <div class="col-sm-3" >
                <div >
                  <h4 >{{product[1]}}</h4>
                  <p > <span class="text-success">Price:</span><span class="text-danger">&nbsp&nbsp${{ product[4] }}</span></p> 
                  <p class="card-text">About this product:
                    </br>{{product[2]}}</p>
                  <p ><span >Stock left:</span><span> {{product[3]}}</span></p>
                </div>
            </div>
            <div class="card col-sm-3" >
                <div class="card-body">
                  <h4 class="card-title text-success">Get your Gourmet</h4>
                  <p class="card-text"><span >Stock left:</span><span> {{product[3]}}</span></p>
                    </br>
                  <p class="text-left text-danger"> <span>Qty:</span>
                    <input type="email" name="inputQty" class="form-control" value="1">
                  </p> 
                  <p><a href="/addToCart?_id={{product[0]}}" class="btn btn-warning btn-block" role="button">Add to Cart</a></p>
                </div>
            </div>
                          
    </div>
    {% endfor %}
    <div>
        <p></p>
    </div>
</div>
{% include "footer.html" %}