{% include "header.html" %}
<div class="container">

			<h4> Account Information </h4>
			<table class="table">
			  <tbody>
			    <tr>
			      <th scope="row">Name:</th>
			      <td>{{data[3]}}</td>
			    </tr>
			    <tr>
			      <th scope="row">Email:</th>
			      <td>{{data[1]}}</td>
			    </tr>
			    <tr>
			      <th scope="row">Purchases:</th>
			      <td><a href="/showPurchases">Order History</a></td>
			    </tr>
			  </tbody>
			</table> 
		</div>

</div>
{% include "footer.html" %}